asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
cloudinary==1.37.0
Django==5.0
django-cloudinary-storage==0.3.0
django-debug-toolbar==4.2.0
django-dotenv==1.4.2
django-htmx==1.17.2
django-maintenance-mode==0.21.0
django-phonenumber-field==7.2.0
gunicorn==21.2.0
idna==3.6
packaging==24.0
phonenumberslite==8.13.26
Pillow==10.1.0
psycopg==3.1.15
psycopg-binary==3.1.15
psycopg-pool==3.2.0
python-fsutil==0.12.0
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0
