{% load static %}{% load i18n %}
<style>
  .keen-slider:not([data-keen-slider-disabled]){-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;align-content:flex-start;display:flex;overflow:hidden;position:relative;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-khtml-user-select:none;width:100%}.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide{min-height:100%;overflow:hidden;position:relative;width:100%}.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse]{flex-direction:row-reverse}.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v]{flex-wrap:wrap}
</style>

<script type="module">
  import KeenSlider from "{% static 'js/esm.js' %}";

  const keenSlider = new KeenSlider(
    "#keen-slider",
    {
      loop: true,
      slides: {
        origin: "center",
        perView: 1.25,
        spacing: 16,
      },
      breakpoints: {
        "(min-width: 1024px)": {
          slides: {
            origin: "auto",
            perView: 1.5,
            spacing: 32,
          },
        },
      },
    },
    []
  );

  const keenSliderPrevious = document.getElementById("keen-slider-previous");
  const keenSliderNext = document.getElementById("keen-slider-next");

  const keenSliderPreviousDesktop = document.getElementById(
    "keen-slider-previous-desktop"
  );
  const keenSliderNextDesktop = document.getElementById(
    "keen-slider-next-desktop"
  );

  keenSliderPrevious.addEventListener("click", () => keenSlider.prev());
  keenSliderNext.addEventListener("click", () => keenSlider.next());

  keenSliderPreviousDesktop.addEventListener("click", () => keenSlider.prev());
  keenSliderNextDesktop.addEventListener("click", () => keenSlider.next());
</script>

<section class="bg-white">
  <div
    class="mx-auto max-w-screen-xl px-4 py-12  lg:me-0 lg:py-16  xl:py-24">
    <div
      class="grid grid-cols-1 gap-8 lg:grid-cols-3 lg:items-center lg:gap-16">
      <div class="max-w-xl text-left">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Testimonials: The Proof Is in the Praise
        </h2>

        <p class="mt-4 text-gray-700">
          What our clients have to say,real stories from our happy customers
        </p>

        <div class="hidden lg:mt-8 lg:flex lg:gap-4">
          <button
            aria-label="Previous slide"
            id="keen-slider-previous-desktop"
            class="rounded-full border border-primary-600 p-3 text-primary-600 transition hover:bg-primary-600 hover:text-white">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
          </button>

          <button
            aria-label="Next slide"
            id="keen-slider-next-desktop"
            class="rounded-full border border-primary-600 p-3 text-primary-600 transition hover:bg-primary-600 hover:text-white">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </button>
        </div>
      </div>

      <div class="lg:col-span-2 lg:mx-0">
        <div id="keen-slider" class="keen-slider flex items-center pl-4 justify-between">
          {% for testimony in testimonies %} 
          {% include 'partials/testimony.html' %} {% endfor %}
        </div>
      </div>
    </div>

    <div class="mt-8 flex justify-center gap-4 lg:hidden">
      <button
        aria-label="Previous slide"
        id="keen-slider-previous"
        class="rounded-full border border-primary-600 p-4 text-primary-600 transition hover:bg-primary-600 hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
</svg>

      </button>

      <button
        aria-label="Next slide"
        id="keen-slider-next"
        class="rounded-full border border-primary-600 p-4 text-primary-600 transition hover:bg-primary-600 hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
</svg>

      </button>
    </div>
  </div>
</section>
