{% load static %}

<!DOCTYPE html>
<html lang="en" style="color-scheme: light;" prefix="og: http://ogp.me/ns#">
<head>
    <meta name="google-site-verification" content="heRVHD14ljX8mQjsjZeVW6SOGMZXI6bQPZIsfrPjk1Q" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="dns-prefetch" href="https://files.redodevelopers.site" />
    <link rel="preconnect" href="https://files.redodevelopers.site" />
    <link rel="dns-prefetch" href="https://res.cloudinary.com" />
    <link rel="preconnect" href="https://res.cloudinary.com" />

    
{% include 'base/seo.html' %}
{#% include 'base/pwa.html' %#}
{% include 'base/fonts.html' %}
    <!-- <script src="{% static 'js/htmx.js' %}"></script> -->
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-white text-gray-800" id="html">
    {% include 'base/messages.html' %}
    {% include 'base/nav.html' %}
    
    <main class="min-h-screen">
        {% block content %}
        {% endblock %}
    </main>
    {% include 'base/footer.html' %}
    {% include 'base/cookie-consent.html' %}
</body>
</html>