{% load i18n %}<!-- Foooter -->
<section class="bg-gray-950/10">
    <div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
        <nav class="flex flex-wrap justify-center -mx-5 -my-2">
            <div class="px-5 py-2">
                <a href="{% url 'about' %}" class="text-base leading-6 text-gray-500 hover:underline">
                    {% trans "About us" %}
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="{% url 'leadership' %}" class="text-base leading-6 text-gray-500 hover:underline">
                    {% trans "Profiles" %}
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="{% url 'contact' %}" class="text-base leading-6 text-gray-500 hover:underline">
                    {% trans "Contact us" %}
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="{% url 'services' %}" class="text-base leading-6 text-gray-500 hover:underline">
                    {% trans "Services" %}
                </a>
            </div>
            
        </nav>
        <div class="flex justify-center mt-8 space-x-6">
            <a href="https://twitter.com/redodevs" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Twitter</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6" fill="currentColor"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
            </a>
            <span class="text-gray-400 text-sm flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-700">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                  </svg>
                  <p class="ml-1">{{location.country}}
                </p>
            </span>
        </div>
        <p class="mt-8 text-base leading-6 text-center text-gray-400">
            {% trans "copyright" %}
        </p>
    </div>
</section>