{% load static %}
<nav
  class="flex border-b bg-white border-gray-100 shadow-sm items-center p-4 justify-between">
  <a aria-label="Home page" title="Home" href="{% url 'home' %}">
    <img
      src="{% static 'images/logo.svg' %}"
      class="w-10 h-10"
      alt="{{APP_NAME}} Logo" />
  </a>
  <div class="flex items-center justify-center">
    <button
      class="flex items-center justify-center"
      onclick="openMenu()"
      id="nav-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="w-7 h-7 text-gray-700"
        fill="none">
        <path
          d="M22 6L14 6"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round" />
        <path
          d="M2 6C2 4.59987 2 3.8998 2.27248 3.36502C2.51217 2.89462 2.89462 2.51217 3.36502 2.27248C3.8998 2 4.59987 2 6 2C7.40013 2 8.1002 2 8.63498 2.27248C9.10538 2.51217 9.48783 2.89462 9.72752 3.36502C10 3.8998 10 4.59987 10 6C10 7.40013 10 8.1002 9.72752 8.63498C9.48783 9.10538 9.10538 9.48783 8.63498 9.72752C8.1002 10 7.40013 10 6 10C4.59987 10 3.8998 10 3.36502 9.72752C2.89462 9.48783 2.51217 9.10538 2.27248 8.63498C2 8.1002 2 7.40013 2 6Z"
          stroke="currentColor"
          stroke-width="1.5" />
        <path
          d="M2 18C2 16.5999 2 15.8998 2.27248 15.365C2.51217 14.8946 2.89462 14.5122 3.36502 14.2725C3.8998 14 4.59987 14 6 14C7.40013 14 8.1002 14 8.63498 14.2725C9.10538 14.5122 9.48783 14.8946 9.72752 15.365C10 15.8998 10 16.5999 10 18C10 19.4001 10 20.1002 9.72752 20.635C9.48783 21.1054 9.10538 21.4878 8.63498 21.7275C8.1002 22 7.40013 22 6 22C4.59987 22 3.8998 22 3.36502 21.7275C2.89462 21.4878 2.51217 21.1054 2.27248 20.635C2 20.1002 2 19.4001 2 18Z"
          stroke="currentColor"
          stroke-width="1.5" />
        <path
          d="M14 18C14 16.5999 14 15.8998 14.2725 15.365C14.5122 14.8946 14.8946 14.5122 15.365 14.2725C15.8998 14 16.5999 14 18 14C19.4001 14 20.1002 14 20.635 14.2725C21.1054 14.5122 21.4878 14.8946 21.7275 15.365C22 15.8998 22 16.5999 22 18C22 19.4001 22 20.1002 21.7275 20.635C21.4878 21.1054 21.1054 21.4878 20.635 21.7275C20.1002 22 19.4001 22 18 22C16.5999 22 15.8998 22 15.365 21.7275C14.8946 21.4878 14.5122 21.1054 14.2725 20.635C14 20.1002 14 19.4001 14 18Z"
          stroke="currentColor"
          stroke-width="1.5" />
      </svg>
    </button>
  </div>
</nav>

<div
  id="nav-menu"
  style="display: none"
  onclick="closeMenu()"
  class="fixed h-screen top-0 bottom-0 w-full bg-black/50 z-20">
  <div
    style="transform: translateX(-100%)"
    onclick="event.stopPropagation()"
    id="inner-menu"
    class="fixed h-screen border-r border-gray-300 top-0 bottom-0 w-full z-40 bg-white">
    <div>
      <button
        onclick="closeMenu()"
        class="absolute right-4 p-1 rounded-full bg-primary-50 top-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-x">
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
      </button>
    </div>
    <div class="py-20">
      <div class="grid grid-cols-1 space-y-4 pl-6">
        <div>
          <a
            onclick="closeMenu()"
            class="text-gray-700 font-semibold text-lg hover:text-gray-500"
            title="Solutions and services"
            aria-label="Solutions and services"
            href="{% url 'services' %}"
            >Services</a
          >
        </div>
        <div>
          <a
            onclick="closeMenu()"
            class="text-gray-700 font-semibold text-lg hover:text-gray-500"
            title="Solutions and services"
            aria-label="Solutions and services"
            href="{% url 'home' %}"
            >Customer support</a
          >
        </div>
        

        <div>
          <p class="text-gray-900 uppercase font-semibold text-lg mb-1">Company</p>
          <ul class="pl-6 list-disc">
            <li>
              <a
                onclick="closeMenu()"
                class="text-gray-700 font-semibold text-lg hover:text-gray-500"
                title="About us"
                aria-label="About us"
                href="{% url 'about' %}"
                >About us</a
              >
            </li>
            <li>
              <a
                onclick="closeMenu()"
                class="text-gray-700 font-semibold text-lg hover:text-gray-500"
                title="Company leadership"
                aria-label="Company leadership"
                href="{% url 'leadership' %}"
                >Company leadership</a
              >
            </li>
            <li>
              <a
                onclick="closeMenu()"
                class="text-gray-700 font-semibold text-lg hover:text-gray-500"
                title="Careers"
                aria-label="Careers"
                href="{% url 'carrers' %}"
                >Careers</a
              >
            </li>
            <li>
              <a
                onclick="closeMenu()"
                class="text-gray-700 font-semibold text-lg hover:text-gray-500"
                title="For investors"
                aria-label="For investors"
                href="{% url 'home' %}"
                >For investors</a
              >
            </li>
          
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const navBtn = document.getElementById("nav-btn");
  const navMenu = document.getElementById("nav-menu");
  const innerMenu = document.getElementById("inner-menu");

  const openMenu = () => {
    navMenu.style.display = "block";
    innerMenu.style.transform = "translateX(0)";
  };

  const closeMenu = () => {
    navMenu.style.display = "none";
    innerMenu.style.transform = "translateX(-100%)";
  };
</script>
