{% load static %}
<nav class="bg-white p-4 border-b border-gray-100 shadow-sm">
  <div class="max-w-screen-xl gap-4 flex items-center justify-between mx-auto">
    <a href="{% url 'home' %}">
      <img
        src="{% static 'images/logo.svg' %}"
        class="w-10 h-10"
        alt="{{APP_NAME}} Logo" />
    </a>

    <div class="flex items-center gap-x-10 justify-center">
      {% include 'base/link.html' with path='home' label='Home' %} 
      {% include 'base/link.html' with path='services' label='Services' %}

      <div class="w-full">
        <button
          id="dropdownHoverButton"
          data-dropdown-toggle="dropdownHover"
          data-dropdown-trigger="hover"
          aria-label="About company"
          class="flex items-center justify-center gap-2"
          type="button">
          Company
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-3 h-3">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
        </button>

        <!-- Dropdown menu -->
        <div
          id="dropdownHover"
          class="z-40 hidden border border-gray-100 bg-white divide-y p-4 divide-gray-100 rounded shadow max-w-sm w-full dark:bg-gray-700">
          <div class="grid-cols-2 grid gap-4">
            <div>
              {% include 'base/link.html' with path='about' label='Company Overview' %}
            </div>
            <div>
              {% include 'base/link.html' with path='profiles' label='Our Team'%}
            </div>
            <div>
              {% include 'base/link.html' with path='carrers' label='Carrers' %}
            </div>
          </div>
        </div>
      </div>

      {% include 'base/link.html' with path='contact' label='Contact' %}
    </div>
    <div>
      <a
        aria-label="Call us"
        title="Call us"
        href="tel:+256779730256"
        class="flex text-sm py-2 px-4 text-primary-800 items-center">
        <span class="md:flex hidden ml-2">+256 779 730 256</span>
      </a>
    </div>
  </div>
</nav>
