{% load static %}
<nav class="bg-white p-4 border-b border-gray-100 shadow-sm">
  <div class="max-w-screen-2xl gap-4 flex items-center justify-between mx-auto">
    <a href="{% url 'home' %}">
      <img
        src="{% static 'images/logo.svg' %}"
        class="w-10 h-10"
        alt="{{APP_NAME}} Logo" />
    </a>

    <div class="flex items-center gap-x-6 justify-center">
      <a
        class="text-gray-900 text-base hover:text-gray-500"
        title="Solutions and Services"
        aria-label="Solutions and Services"
        href="{% url 'services' %}"
        >Solutions and Services
      </a>

      <div class="">
        <button
          id="dropdownHoverButton"
          data-dropdown-toggle="dropdownHover"
          data-dropdown-trigger="hover"
          aria-label="About company"
          class="flex items-center justify-center gap-2"
          type="button">
          Company
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-3 h-3">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
        </button>

        <!-- Dropdown menu -->
        <div
          id="dropdownHover"
          class="z-40 hidden border border-gray-100 bg-white divide-y p-4 divide-gray-100 rounded shadow max-w-sm w-full dark:bg-gray-700">
          <div class="grid-cols-2 grid gap-4">
            <div>
              <a
                class="text-gray-900 text-base hover:text-gray-500"
                title="About us"
                aria-label="About us"
                href="{% url 'about' %}"
                >About us
              </a>
            </div>
            <div>
              <a
                class="text-gray-900 text-base hover:text-gray-500"
                title="Company leadership"
                aria-label="Company leadership"
                href="{% url 'leadership' %}"
                >Company leadership
              </a>
            </div>
            <div>
              <a
                class="text-gray-900 text-base hover:text-gray-500"
                title="Carrers"
                aria-label="Carrers"
                href="{% url 'carrers' %}"
                >Carrers
              </a>
            </div>
            <div>
              <a
                class="text-gray-900 text-base hover:text-gray-500"
                title="For investors"
                aria-label="For investors"
                href="{% url 'investors' %}"
                >For investors
              </a>
            </div>
          </div>
        </div>
      </div>

      <a
        onclick="closeMenu()"
        class="text-gray-900 text-base hover:text-gray-500"
        title="Customer support"
        aria-label="Customer support"
        href="{% url 'home' %}"
        >Customer support
      </a>
    </div>
    <div class="flex items-center justify-between">
      <a href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-7 h-7 text-gray-400"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path d="M18 20a6 6 0 0 0-12 0" />
          <circle cx="12" cy="10" r="4" />
          <circle cx="12" cy="12" r="10" />
        </svg>
      </a>
      <div class="ml-3">
        {% include 'base/lang.html' %}
      </div>
    </div>
  </div>
</nav>
