{% load static %}

<link rel="icon" type="image/svg+xml" href="{% static 'images/logo.svg' %}" />
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />

  <meta name="robots" content="follow, index, max-snippet:-1, max-image-preview:standard, max-video-preview:-1" />








<!-- HTML Meta Tags -->
<title>{{title}}</title>
<meta name="description" content="{{description}}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{request.build_absolute_uri}}">
<meta property="og:type" content="{{type|default:'website'}}">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{description}}">
{% if image %}
<meta property="og:image" content="{{image}}">
<meta name="twitter:image" content="{{image}}">

{% else %}
<meta property="og:image" content="{% static 'images/logo.png' %}">
<meta name="twitter:image" content="{% static 'images/logo.png' %}">
{% endif %}

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="redodevelopers.site">
<meta property="twitter:url" content="{{request.build_absolute_uri}}">
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{description}}">

