{% extends 'base/base.html' %}
{% load static %}
{% block head %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {
      "@type": "Question",
      "name": "When was {{APP_NAME}} founded?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "{{APP_NAME}} was founded on March 2, 2021 by Khaotungkulmethee Pattawee Drake."
      }
    },
    {
      "@type": "Question",
      "name": "What does {{APP_NAME}} do?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "{{APP_NAME}} is a technology company dedicated to innovation and software development."
      }
    },
    {
      "@type": "Question",
      "name": "Where is {{APP_NAME}} located?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "{{APP_NAME}} is located in Kampala Uganda and operating globally."
      }
    },
    {
      "@type": "Question",
      "name": "Who is the founder of {{APP_NAME}}?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "The founder of {{APP_NAME}} is Khaotungkulmethee Pattawee Drake also known as Lubega Frank."
      }
    },
    {
      "@type": "Question",
      "name": "Who is the CEO of {{APP_NAME}}?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Khaotungkulmethee Pattawee Drake, (Lubega Frank) serves as the CEO and Chairman of {{APP_NAME}}"
      }
    }
  ]
}
</script>


<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "image": "{% static 'images/512.png' %}",
      "url": "https://www.redodevelopers.site",
      "sameAs": ["https://twitter.com/redodevs", "https://www.redodevelopers.site/company/about/"],
      "logo": "{% static 'images/512.png' %}",
      "name": "{{APP_NAME}}",
      "description": "Discover a transformative partnership with {{APP_NAME}} We&#x27;re your trailblazing ally, delivering cutting-edge technology and innovative software solutions to propel businesses and individuals towards success in the dynamic digital landscape.",
      "email": "support@redodevelopers.site",
      "telephone": "+256779730256",
      "foundingDate": "2021-03-02"
    }
    </script>


{% endblock %}

{% block content %}  
{% load i18n %}

<section class="bg-gray-900 py-8">
  <div
    class="grid gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
    <div></div>
    <div class="mt-4 px-4 pt-4 md:mt-0">
      <ul class="relative text-gray-500 border-l border-gray-200">
        <li class="mb-10 ml-6">
          <span
            class="absolute flex items-center justify-center w-8 h-8 bg-green-200 rounded-full -left-4 ring-4 ring-gray-700 text-gray-500"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z"></path></svg
          ></span>
          <h3 class="text-xl text-white">{% trans "Our Vision" %}</h3>
          <p class="text-base text-gray-200">
            {% trans "vision" %}
            </p>
        </li>
        <li class="mb-10 ml-6">
          <span
            class="absolute flex items-center justify-center w-8 h-8 bg-yellow-400 rounded-full -left-4 ring-4 ring-gray-700 text-white"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z"></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z"></path></svg
          ></span>
          <h3 class="text-xl text-white">{% trans "Our Journey" %}</h3>
          <p class="text-base text-gray-200">
            {% trans "journey" %}
           </p>
        </li>
        <li class="mb-10 ml-6">
          <span
            class="absolute flex items-center justify-center w-8 h-8 bg-rose-400 rounded-full -left-4 ring-4 ring-gray-700 text-white"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"></path></svg
          ></span>
          <h3 class="text-xl text-white">{% trans "Our Purpose" %}</h3>
          <p class="text-base text-gray-200">
            {% trans "purpose" %}
            </p>
        </li>
        <li class="ml-6">
          <span
            class="absolute flex items-center justify-center w-8 h-8 bg-orange-400 rounded-full -left-4 ring-4 ring-gray-700 text-white"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.040.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z"></path></svg
          ></span>
          <h3 class="text-xl text-white">{% trans "Our Impact" %}</h3>
          <p class="text-base text-gray-200">
            {% trans "impact" %}
            
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
<hr class="h-px bg-gray-800 border-0" />
<section class="py-8 px-4 md:px-8">
  <div class="mb-10">
    <h1 class="text-4xl font-bold mb-10 tracking-tight text-white">
      {% trans "Embark on a Journey with {{APP_NAME}}" %}
    </h1>
    <p class="leading-relaxed text-gray-200">
      Welcome to the vibrant world of {{APP_NAME}}, where innovation
      converges with software excellence. We are the architects of digital
      transformation, sculpting solutions that redefine possibilities.
    </p>
    <p class="leading-relaxed text-gray-200">
      Join us on this extraordinary journey, where creativity knows no bounds.
      At {{APP_NAME}}, we're visionaries reshaping the digital sphere,
      transcending industries with adaptable solutions.
    </p>
  </div>
  <div class="flex flex-col md:flex-row justify-between space-y-6 md:space-y-0">
    <div class="md:w-1/2">
      <p class="mb-4 leading-relaxed text-gray-200">
        {% trans "about_history" %}
        
      </p>
      <p class="leading-relaxed text-gray-200">
        Our mission is guided by core values: Innovation, Excellence,
        Collaboration, and Growth. We aim to empower businesses and individuals
        by offering cutting-edge software, envisioning a future where technology
        propels unprecedented success.
      </p>
    </div>
    <div class="md:w-1/2">
      <img
        src="{% static 'images/hero.webp' %}"
        alt="Redo Developers"
        class="w-full h-72 object-cover rounded-md" />
    </div>
  </div>
  <div class="my-16">
    <h2 class="text-3xl font-bold text-white mb-6">
      {% trans "Our Impact and Journey Through Time" %}
    </h2>
    <p class="mb-4 leading-relaxed text-gray-200">
      {{APP_NAME}} emerged as a beacon of change in 2021, transforming
      challenges into opportunities with ingenious software solutions. Our
      impact spans industries, streamlining processes, enhancing user
      experiences, and driving growth.
    </p>
    <p class="mb-4 leading-relaxed text-gray-200">
      Our journey, Founded by
      Khaotungkulmethee Pattawee Drake, began with a spark of inspiration and a passion for innovation. From
      reshaping the digital landscape to venturing into product development, our
      commitment to excellence remains unwavering.
    </p>
    <p class="mb-4 leading-relaxed text-gray-200">
      In 2023, {{APP_NAME}} stands tall as a testament to our capacity
      to reshape the future through technology. Join us as we continue to
      innovate and solve real-world problems, one software solution at a time.
    </p>
  </div>
  <div>
    <h2 class="text-3xl font-bold text-white mb-6">
      {% trans "Vision, Commitment to Quality, and Social Responsibility" %}
    </h2>
    <p class="mb-4 leading-relaxed text-gray-200">
      At {{APP_NAME}}, we envision a future where technology transcends
      boundaries, empowering individuals and businesses. Our commitment to
      quality ensures we deliver software solutions that set new benchmarks for
      excellence.
    </p>
    <p class="mb-4 leading-relaxed text-gray-200">
      Our customer-centric approach, innovation, and social responsibility form
      the foundation of our work. We engage in initiatives that support
      education, sustainability, and social well-being, contributing to a better
      world for everyone.
    </p>
  </div>
</section>

{% endblock %}
