{% extends 'base/base.html' %} 
{% load i18n %} 
{% load static %} 

{% block content %}
<section class="px-4 bg-gray-100 py-16">
  <div class="flex flex-wrap md:flex-nowrap justify-center gap-x-10 items-center">
    <div class="md:w-1/2 w-full">
      <h1 class="text-5xl text-gray-900 mb-6 font-bold">
        Contact Us About {{APP_NAME}} Software Products and Services
      </h1>
      <p class="text-lg text-gray-700 leading-relaxed">
        We're here to help you boost your sales productivity, enhance customer service, and much more! Reach out to our sales team using any of the methods below.
      </p>
    </div>
    <div class="w-full mt-6 md:mt-0 md:w-auto">
      <div class="flex justify-center items-center w-full">
        <img
          src="{% static 'images/call.webp' %}"
          class="w-96 h-96 rounded-full"
          alt="Call Center" />
      </div>
    </div>
  </div>
  <div class="py-10">
    <div class="bg-white border border-gray-200 shadow-md max-w-screen-lg mx-auto mt-4 rounded-xl p-8">
      <h2 class="text-3xl text-center font-semibold text-gray-900 mb-6">
        How Can We Assist You?
      </h2>
      <ul class="list-disc pl-6 mb-6 text-lg text-gray-700 space-y-2">
        <li>Detail the challenges you're facing or the goals you're aiming for.</li>
        <li>Specify which services or products interest you.</li>
        <li>If applicable, share your budget or financial considerations.</li>
        <li>Include any other questions, comments, or concerns you have.</li>
      </ul>

      <form
        id="form"
        action="{% url 'contact' %}"
        method="post"
        class="space-y-8 max-w-screen-md mx-auto mb-8">
        {% csrf_token %}
        <div>
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Your Name</label>
          <input
            name="name"
            type="text"
            id="name"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
            placeholder="Your Name"
            required />
        </div>
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Your Email</label>
          <input
            name="email"
            type="email"
            id="email"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
            placeholder="yourname@example.com"
            required />
        </div>
        <div>
          <label
            for="reason"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Reason for Contact</label>
          <select
            name="reason"
            id="reason"
            class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500"
            required>
            <option value="">Select a reason</option>
            <option value="sales">Sales Inquiry</option>
            <option value="support">Support</option>
            <option value="feedback">Feedback</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div>
          <label
            for="subject"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Subject</label>
          <input
            type="text"
            name="subject"
            id="subject"
            class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500"
            placeholder="How can we assist you?"
            required />
        </div>
        <div class="sm:col-span-2">
          <label
            for="message"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Your Message</label>
          <textarea
            name="message"
            id="message"
            rows="6"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
            placeholder="Leave a comment..."></textarea>
        </div>

        <button
          id="submit-btn"
          type="submit"
          class="py-3 px-5 text-sm font-medium text-center text-white rounded bg-primary-600 hover:bg-primary-600/85 focus:ring-0 focus:outline-none focus:ring-primary-300">
          Send Message
        </button>
      </form>

      <p class="text-gray-600 text-center mt-6">
        We'd love to hear from you! Your feedback helps us tailor our solutions to your needs. Expect a prompt reply from our dedicated support team.
      </p>
    </div>
  </div>
</section>

<script>
  const form = document.getElementById("form");
  const btn = document.getElementById("submit-btn");
  form.addEventListener("submit", (e) => {
    btn.innerHTML = "Sending...";
    btn.classList.add("cursor-not-allowed", "opacity-50");
  });
</script>
{% endblock %}
