{% extends 'base/base.html' %} {% load static %} {% block head %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "image": "{% static 'images/512.png' %}",
    "url": "https://www.redodevelopers.site",
    "sameAs": [
      "https://twitter.com/redodevs",
      "https://www.redodevelopers.site/company/about/",
      "https://www.facebook.com/redodevelopersinc/"
    ],
    "logo": "{% static 'images/512.png' %}",
    "name": "{{APP_NAME}}",
    "description": "Discover a transformative partnership with {{APP_NAME}} We&#x27;re your trailblazing ally, delivering cutting-edge technology and innovative software solutions to propel businesses and individuals towards success in the dynamic digital landscape.",
    "email": "support@redodevelopers.site",
    "telephone": "+256779730256",
    "foundingDate": "2021-03-02"
  }
</script>

<style>
  .bg_img {
    background-image: linear-gradient(
        to bottom,
        rgba(25, 109, 148, 0.644),
        rgba(0, 0, 0, 0.13)
      ),
      url("{% static 'images/main.jpg' %}");
    background-size: cover;
    background-position: center;
  }
</style>

{%endblock %} {% block content %} {% load i18n %}

<section>
  <div class="relative flex justify-center items-center">
    <div class="bg_img h-screen w-full">
      <div
        class="h-full w-full bg-gradient-to-tr from-sky-50/20 via-cyan-100/20 to-cyan-600/50 py-20 flex items-start justify-start md:px-10">
        <div class="flex flex-col items-center justify-center px-2">
          <div
            class="bg-white border rounded-2xl border-gray-200 shadow-md  max-w-xl mx-auto px-4 md:px-10 py-10 w-full">
            <h1 class="text-4xl text-gray-700 uppercase font-bold mb-4">
              {{APP_NAME}}
            </h1>
            <p class="text-gray-600 mb-2">
              The future of growth is here: Explore innovative software to fuel
              your success
            </p>
            <p class="font-bold">Evolve. Empower. Ascend.</p>
            <div class="mt-8 flex items-center justify-between">
              <a href="#"
              data-ripple-light="true"
                class="py-2.5 px-6 bg-primary-700 hover:bg-primary-800 duration-200 transition-all rounded-md text-white">
                Our Products
            </a>
              <a
              href="#"
              
              data-ripple-light="true"
                class="py-2.5 px-8 border-2 rounded-md transition-all duration-200 text-primary-700 border-primary-700 hover:text-white hover:bg-primary-700">
                Contact us
          </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-10 max-w-screen-xl mx-auto mt-20 px-4">
  <h2 class="text-center mb-20 sm:text-5xl font-semibold text-3xl">
    Solving Real-World Challenges with Secure Software Solutions
  </h2>
  <div class="grid grid-cols-1">
    <div class="p-4 py-6 sm:py-10 sm:px-8 rounded-xl bg-secondary-50">
      <h3 class="text-3xl mb-6 font-semibold">
        Innovative. Accessible. Secure.
      </h3>
      <p class="text-lg mb-6">
        At {{APP_NAME}}, we craft innovative software solutions you can rely on.
        We understand the diverse needs of both individuals and large
        organizations across various sectors, including finance and social
        services.
      </p>
      <p class="text-lg mb-6">
        Our mission is to ensure our software is not only powerful and secure
        but also accessible to everyone. We achieve this by focusing on
        intuitive interfaces and user-friendly features, empowering everyone to
        achieve their goals efficiently and securely.
      </p>
      <a
        class="text-secondary-500 text-lg font-semibold"
        href="{% url 'services' %}"
        >Discover Our Services</a
      >
    </div>
  </div>
</section>

<section class="py-10 px-4">
  <h3 class="text-center text-xl text-primary-600 font-semibold">
    Empowered...
  </h3>
  <h2 class="text-center text-3xl mb-4 font-semibold">Technology We Serve</h2>
  <div class="max-w-xl mx-auto text-center">
    <p>
      Everywhere You Need It. Powerful software for any platform: Web, iOS, or
      Android. Our flexible solutions ensure seamless user experiences across
      all devices. The future is multi-platform. Let's build it together!
    </p>
  </div>
  {% include 'partials/techs.html' %}
</section>

<section class="px-3 py-16">
  <div
    class="max-w-screen-lg text-center px-6 rounded-2xl mx-auto bg-primary-600 py-20">
    <h4 class="text-white text-3xl max-w-screen-md mx-auto mb-6">
      Ready to Get Started with Top-Notch Software Solutions?
    </h4>
    <p class="text-white mb-8 text-lg">
      Contact us today to inquire about specific services or products, or ask
      for recommendations on the most suitable software solution for your use
      case.
    </p>
    <div class="flex items-center justify-center">
      <a
      data-ripple-light="true"
        href="{% url 'contact' %}"
        class="bg-white flex items-center gap-1 justify-center rounded-full text-gray-700 px-6 py-2.5 text-lg font-medium">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
        </svg>

        Talk to us</a
      >
    </div>
  </div>
</section>

{% endblock %}
