{% extends 'base/base.html' %} 
{% block content %}

<section class="py-10 px-4">
  <div class="max-w-screen-lg text-center mx-auto">
    <h1 class="text-4xl font-semibold text-gray-700">
      For Investors
    </h1>
    <p class="mt-4 text-lg text-gray-500">
      The information is not yet available but will be as soon as the company is registered.
    </p>
    <div class="mt-10">
      <p class="text-2xl font-bold text-gray-800">
        Coming Soon
      </p>
    </div>
    <div class="mt-6">
      <p class="text-lg text-gray-700">
        For further questions, please contact us at:
      </p>
      <p class="mt-2 text-lg text-primary-600">
        <a href="mailto:info@redodevelopers.site">info@redodevelopers.site</a>
      </p>
    </div>
  </div>
</section>

{% endblock %}
