{% extends 'base/base.html' %}
 {% block head %} 

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ProfilePage",
      "dateCreated": "2021-03-02T12:34:00-05:00",
      "dateModified": "2024-03-31T14:53:00-05:00",
      "mainEntity": {
        "@type": "Person",
        "name": "Khaotungkulmethee Pattawee Drake",
        "alternateName": "Lubega Frank",
        "identifier": "01",
        "interactionStatistic": [{
          "@type": "InteractionCounter",
          "interactionType": "https://schema.org/FollowAction",
          "userInteractionCount": 100
        },{
          "@type": "InteractionCounter",
          "interactionType": "https://schema.org/LikeAction",
          "userInteractionCount": 240
        }],
        "agentInteractionStatistic": {
          "@type": "InteractionCounter",
          "interactionType": "https://schema.org/WriteAction",
          "userInteractionCount": 10
        },
        "description": "I started this",
        "image": "{{profile.image}}",
        "sameAs": [
          "https://twitter.com/theetawee",
          "https://www.waanverse.com/theetawee"
        ]
      }
    }
    </script>
  




<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Who is Khaotungkulmethee Pattawee?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Khaotungkulmethee Pattawee, also known as Lubega Frank, is a versatile entrepreneur, laboratory technician, and skilled computer programmer from ChiangRai, Thailand. He is the Founder and CEO of {{APP_NAME}}, a company dedicated to innovation and technology solutions."
    }
  }, {
    "@type": "Question",
    "name": "Who is Lubega Frank?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Lubega Frank, also known as Khaotungkulmethee Pattawee, is a respected entrepreneur, laboratory technician, and proficient computer programmer hailing from ChiangRai, Thailand. His expertise and leadership have contributed significantly to the success of {{APP_NAME}}, where he serves as the Founder and CEO."
    }
  }, {
    "@type": "Question",
    "name": "What is Lubega Frank's net worth?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "As a private individual, Lubega Frank's net worth is not publicly disclosed. However, his achievements as the Founder and CEO of {{APP_NAME}} indicate his considerable success in the technology industry."
    }
  }, {
    "@type": "Question",
    "name": "How old is Lubega Frank?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "As of March 31, 2024, Lubega Frank is approximately 20 years old, based on his date of birth (05 March 2004)."
    }
  }]
}
</script>
 
 {% endblock %}
 
 {% block content %}

<section class="pb-10">
  <div class="py-8 px-4">
    <div class="max-w-screen-xl mx-auto">
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
        <div>
          <div
            class="max-w-xl w-full mb-8 border border-gray-100 mx-auto pb-4 bg-white rounded-lg">
            <div class="relative py-4 mb-4">
              <img
                src="{{profile.image}}"
                class="w-96 text-gray-100 bg-gray-100 h-96 rounded-full mx-auto"
                alt="Founder of {{APP_NAME}} Khaotungkulmethee Pattawee Drake" />
            </div>
            <div class="grid grid-cols-1 gap-2 px-4 py-6 text-gray-800">
              <p class="text-2xl text-white font-semibold">
                Personal Information
              </p>
              <div class="border-t pt-5 border-gray-100">
                <p class="flex items-center gap-2">
                  <span class="profile_title">Names:</span
                  ><span class="profile_detail">{{profile.name}}</span>
                </p>
                <p class="flex items-center gap-2">
                  <span class="profile_title">Born:</span>
                  <span class="profile_detail">March 5, 2004 (Age: 20)</span>
                </p>
                <p class="flex items-center gap-2">
                  <span class="profile_title">Place of Origin:</span>
                  <span class="profile_detail">
                    <a
                      rel="noopener noreferrer"
                      class="text-sky-500 hover:underline"
                      href="https://en.wikipedia.org/wiki/Chiang_Rai"
                      target="_blank"
                      >Chiang Rai, Thailand</a
                    ></span
                  >
                </p>
                <p class="flex items-center gap-2">
                  <span class="profile_title">Other names:</span>
                  <span class="profile_detail"> Drake, Noatok</span>
                </p>
              </div>
            </div>
            <div class="grid grid-cols-1 gap-2 px-4 py-6 text-gray-100">
              <p class="text-2xl font-semibold text-white">
                Professional Information
              </p>
              <div class="border-t pt-5 border-gray-100">
                <p class="flex items-center gap-2">
                  <span class="profile_title">Education:</span>
                  <span class="profile_detail">
                    Indian Institute of Health and Allied Sciences</span
                  >
                </p>
                <p class="flex items-center gap-2">
                  <span class="profile_title">Occupations:</span>
                  <span class="profile_detail"
                    >Computer Programmer, Businessman</span
                  >
                </p>
                <p class="flex items-center gap-2">
                  <span class="profile_title">Years active:</span>
                  <span class="profile_detail"> 2021 - Present</span>
                </p>
                <p class="flex gap-2">
                  <span class="profile_title">Title:</span>
                  <span class="profile_detail">
                    Founder, Executive CEO, and Chairman of Redo Developers
                    Inc.; Founder and Chairman of Waanverse Corp.</span
                  >
                </p>
                <p class="flex items-center gap-2">
                  <span class="profile_title">Spouse:</span>
                  <span class="profile_detail">Not Known</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-gray-800">
          <div class="flex items-start mb-8 justify-start">
            <p>
              <span class="text-xl text-gray-900 font-semibold"
                >Khaotungkulmethee Pattawee Drake</span
              >, locally known as
              <span class=" font-medium text-gray-800">Lubega Frank</span>
              is a versatile entrepreneur, laboratory technician, and proficient
              computer programmer originating from ChiangRai, Thailand.
            </p>
          </div>
          <p class="mb-8">
            Born on March 5, 2004, Pattawee's diverse skill set encompasses
            successful business acumen, laboratory expertise, and coding
            proficiency. He is renowned as the visionary founder of Redo
            Developers Inc., where he assumes key leadership roles as executive
            chairman, chief executive officer, and controlling shareholder. With
            a keen eye for innovation and a passion for technology, Pattawee has
            propelled {{APP_NAME}} to prominence, establishing it as a
            leading entity in the tech industry. This Page aims to provide a
            comprehensive overview of Pattawee's life, career achievements, and
            entrepreneurial endeavors, drawing upon credible sources to present
            a balanced portrayal of his contributions and impact.
          </p>
          <h2 class="text-2xl">Early Life and Education</h2>
          <hr class="h-px border-t mb-7" />
          <p>
            <span class="text-xl font-semibold text-gray-900"
              >Khaotungkulmethee Pattawee Drake</span
            >
            was born on March 5, 2004, in Rubaga Division, Uganda. His father
            <span class="italic">Khaotungkulmethee Wachirawit</span>, of Thai
            descent, and his mother, a Ugandan businesswoman named
            <span class="italic">Edith Naluzze</span>, provided a nurturing
            environment for Khaotungkulmethee and his two sisters,
            <span class="italic">Aarah</span> and
            <span class="italic">Ariana Silver</span>. Raised amidst the vibrant
            culture of Kampala, Uganda, Khaotungkulmethee Pattawee Drake's
            upbringing shaped his values and outlook on life. From a young age,
            he was exposed to the rich tapestry of Ugandan society, where he
            cultivated a deep appreciation for diversity and entrepreneurship.
            This formative period instilled in him the virtues of hard work,
            resilience, and innovation, laying the groundwork for his future
            successes. Despite his diverse heritage, Khaotungkulmethee proudly
            identifies as Ugandan, a testament to the deep connections he shares
            with his home country. This section provides insight into
            Khaotungkulmethee Pattawee Drake's early life in Uganda and the
            influences that shaped his journey.
          </p>
          <p class="mb-6">
            Growing up, Drake showed an early interest in computers and
            technology. His parents recognized his potential and encouraged his
            curiosity. At a young age, he started experimenting with coding and
            developed a passion for software development.
          </p>
          <h4 class="text-lg mb-2 font-medium text-gray-800">Education</h4>
          <p>
            Drake's educational journey is marked by his commitment to
            continuous learning and exploration. He began his early education in
            Thailand before relocating to Uganda, where he encountered initial
            challenges with the English language. Undeterred, Drake persevered
            and eventually became proficient in English, a skill that proved
            invaluable in his academic pursuits.
          </p>
          <p class="mb-4">
            In Uganda, Drake attended high school, where he initially pursued
            studies up to the Ordinary Level (O). However, driven by his passion
            for technology, he transitioned to focus on software programming.
            Despite his growing success in the tech industry, Drake remains
            dedicated to his medical aspirations. As of 2024, he is concurrently
            pursuing studies in Medical Laboratory Techniques (Human Medicine),
            showcasing his commitment to both the technological and healthcare
            fields.
          </p>
          <h3 class="text-xl text-bold text-gray-900">Software Development</h3>
          <h4 class="text-lg mb-2 font-medium text-gray-800">Early Years</h4>
          <p class="mb-6">
            Drake's journey into the world of software development commenced
            during his high school years when he first delved into computer
            programming. Proficient in Python, he quickly grasped the
            fundamentals of coding, paving the way for his exploration of
            various programming languages and technologies. His passion for
            innovation led him to delve deeper into web development, mastering
            languages such as HTML, CSS, and JavaScript. As he honed his skills,
            Drake transitioned into a full-stack web and app programmer, adept
            at crafting dynamic and user-friendly interfaces for a diverse range
            of projects. Throughout his early days in software development,
            Drake demonstrated a relentless curiosity and a drive for
            excellence, laying the groundwork for his future successes in the
            field.
          </p>
          <div class="mx-auto py-4">
            <h2 class="text-2xl text-gray-white mb-2">
              Founding {{APP_NAME}}
            </h2>
            <hr class="h-px border-t bg-gray-800 mb-2" />
            <p class="text-gray-800">
              In 2021, at the age of 17, Drake embarked on a remarkable journey
              by founding {{APP_NAME}}, a dynamic software-driven
              company. Fueled by his vision to reshape the digital landscape,
              Drake's leadership and commitment to excellence have been pivotal
              in driving the company's success. {{APP_NAME}} stands as a
              testament to Drake's innovative spirit, consistently pushing
              boundaries and delivering impactful software solutions across
              various industries. Not content with just one venture, Drake is
              also known for his ambitious endeavors, including Waanverse, a
              startup aimed at revolutionizing the digital realm. While some
              ventures like Waanverse may evolve or dissolve over time, Drake's
              entrepreneurial drive remains unwavering, as he continues to
              explore new opportunities and leave a lasting mark on the tech
              industry.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
