{% extends 'base/base.html' %} {% block content %}

<section class="py-32 px-4">
  <div class="max-w-screen-xl text-center mx-auto">
    <h1 class="text-4xl font-bold text-white">
      Meet our talented and dedicated leaders and team members at Redo
      Developers Inc
    </h1>
  </div>
  <div class="py-20 max-w-screen-lg mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <a class="block" href="/profiles/ceo"
        ><div class="max-w-sm bg-gray-800 shadow rounded-xl p-4">
          <img
            src="/assets/thoe-Bz-tQJkl.webp"
            class="w-40 h-40 mx-auto object-cover rounded-full mb-8"
            alt="Khaotungkulmethee Pattawee Drake" />
          <div class="text-center">
            <h2 class="text-2xl font-bold text-gray-200">
              Khaotungkulmethee Pattawee
            </h2>
            <p class="text-gray-500 italic">
              — Chairman and CEO - Redo Developers Inc.
            </p>
          </div>
        </div></a
      >
    </div>
  </div>
</section>

{% endblock %}
