{% extends 'base/base.html' %}
 {% block head %} 

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ProfilePage",
      "dateCreated": "2021-03-02T12:34:00-05:00",
      "dateModified": "2024-03-31T14:53:00-05:00",
      "mainEntity": {
        "@type": "Person",
        "name": "Khaotungkulmethee Pattawee Drake",
        "alternateName": "Lubega Frank",
        "identifier": "01",
        "interactionStatistic": [{
          "@type": "InteractionCounter",
          "interactionType": "https://schema.org/FollowAction",
          "userInteractionCount": 100
        },{
          "@type": "InteractionCounter",
          "interactionType": "https://schema.org/LikeAction",
          "userInteractionCount": 240
        }],
        "agentInteractionStatistic": {
          "@type": "InteractionCounter",
          "interactionType": "https://schema.org/WriteAction",
          "userInteractionCount": 10
        },
        "description": "I started this",
        "image": "{{profile.image}}",
        "sameAs": [
          "https://twitter.com/theetawee",
          "https://www.waanverse.com/theetawee"
        ]
      }
    }
    </script>
  




<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Who is Khaotungkulmethee Pattawee?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Khaotungkulmethee Pattawee, also known as Lubega Frank, is a versatile entrepreneur, laboratory technician, and skilled computer programmer from ChiangRai, Thailand. He is the Founder and CEO of {{APP_NAME}}, a company dedicated to innovation and technology solutions."
    }
  }, {
    "@type": "Question",
    "name": "Who is Lubega Frank?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Lubega Frank, also known as Khaotungkulmethee Pattawee, is a respected entrepreneur, laboratory technician, and proficient computer programmer hailing from ChiangRai, Thailand. His expertise and leadership have contributed significantly to the success of {{APP_NAME}}, where he serves as the Founder and CEO."
    }
  }, {
    "@type": "Question",
    "name": "What is Lubega Frank's net worth?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "As a private individual, Lubega Frank's net worth is not publicly disclosed. However, his achievements as the Founder and CEO of {{APP_NAME}} indicate his considerable success in the technology industry."
    }
  }, {
    "@type": "Question",
    "name": "How old is Lubega Frank?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "As of March 31, 2024, Lubega Frank is approximately 20 years old, based on his date of birth (05 March 2004)."
    }
  }]
}
</script>
 
 {% endblock %}
 
 {% block content %}

<section class="pb-10">
  <div class="py-8 px-4">
    <div class="max-w-screen-xl mx-auto">
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
        <div>
          <div
            class="max-w-xl w-full mb-8 border border-gray-100 mx-auto pb-4 bg-white rounded-lg">
            <div class="relative py-4 mb-4">
              <img
                src="{{profile.image}}"
                class="w-96 text-gray-100 bg-gray-100 h-96 rounded-full mx-auto"
                alt="Founder of {{APP_NAME}} Khaotungkulmethee Pattawee Drake" />
            </div>
            <div class="grid grid-cols-1 gap-2 px-4 py-6 text-gray-800">
              <p class="text-2xl text-white font-semibold">
                Personal Information
              </p>
              <div class="border-t pt-5 border-gray-100">
                <p class="flex items-center gap-2">
                  <span class="profile_title">Names:</span
                  ><span class="profile_detail">{{profile.name}}</span>
                </p>
                <p class="flex items-center gap-2">
                  <span class="profile_title">Born:</span>
                  <span class="profile_detail">March 5, 2004 (Age: 20)</span>
                </p>
                <p class="flex items-center gap-2">
                  <span class="profile_title">Place of Origin:</span>
                  <span class="profile_detail">
                    <a
                      rel="noopener noreferrer"
                      class="text-sky-500 hover:underline"
                      href="https://en.wikipedia.org/wiki/Chiang_Rai"
                      target="_blank"
                      >Chiang Rai, Thailand</a
                    ></span
                  >
                </p>
                <p class="flex items-center gap-2">
                  <span class="profile_title">Other names:</span>
                  <span class="profile_detail"> Drake, Noatok</span>
                </p>
              </div>
            </div>
            <div class="grid grid-cols-1 gap-2 px-4 py-6 text-gray-100">
              <p class="text-2xl font-semibold text-gray-800">
                Professional Information
              </p>
              <div class="border-t pt-5 border-gray-100">
                <p class="flex items-center gap-2">
                  <span class="profile_title">Education:</span>
                  <span class="profile_detail">
                    Indian Institute of Health and Allied Sciences</span
                  >
                </p>
                <p class="flex items-center gap-2">
                  <span class="profile_title">Occupations:</span>
                  <span class="profile_detail"
                    >Computer Programmer, Businessman</span
                  >
                </p>
                <p class="flex items-center gap-2">
                  <span class="profile_title">Years active:</span>
                  <span class="profile_detail"> 2021 - Present</span>
                </p>
                <p class="flex gap-2">
                  <span class="profile_title">Title:</span>
                  <span class="profile_detail">
                    Founder, Executive CEO, and Chairman of {{APP_NAME}}; Founder and Chairman of Waanverse Corp.</span
                  >
                </p>
                <p class="flex items-center gap-2">
                  <span class="profile_title">Spouse:</span>
                  <span class="profile_detail">Not Known</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-gray-800">
            <h1 class="text-3xl uppercase font-semibold mb-1">Khaotungkulmethee Pattawee Drake</h1>
            <div class="flex gap-x-2 mb-8 items-center">
            {% for role in roles %}
            <div class="flex items-center justify-center shadow rounded-full bg-primary-50/60 px-2  border border-primary-600">
            <p class="text-xs font-medium flex items-center justify-center text-primary-700 lowercase">{{role}}</p>
            </div> 
            {% endfor %}
            </div> 
            <p class="mb-4">
              <span class="text-xl text-gray-900 font-semibold"
                >Khaotungkulmethee Pattawee Drake </span
              >known professionally as 
              <span class=" font-medium text-gray-800">Lubega Frank</span>
              , is a distinguished entrepreneur, laboratory technician, and skilled computer programmer originating from Chiang Rai, Thailand. His remarkable journey in the realms of innovation and business leadership has garnered attention for its transformative impact on the global tech landscape. Drake's visionary initiatives, notably his role as the Founder and CEO of {{APP_NAME}}, have solidified his reputation as a trailblazer in the field of technology and entrepreneurship.
            </p>
          <h2 class="text-2xl">Early Life and Education</h2>
          <hr class="h-px border-t mb-3" />
          <p class="mb-3">
            Born on March 5, 2004, in Rubaga Division, Uganda, to Khaotungkulmethee Wachirawit and Edith Naluzze, Drake's upbringing was enriched by the diverse cultural tapestry of Kampala, Uganda. His parents' support fostered an environment conducive to intellectual curiosity, leading Drake to early explorations in computer science and programming. Despite initial challenges with the English language upon relocating to Uganda, Drake's determination propelled him to excel academically and linguistically, setting the stage for his future pursuits.
          </p>
          <p class="mb-6">
            Drake's educational journey was marked by a commitment to continuous learning and exploration. He navigated through early education in Thailand before immersing himself in the vibrant academic landscape of Uganda. His high school years witnessed a pivotal shift towards software programming, fueled by an innate passion for technology. This transition laid the groundwork for Drake's subsequent mastery of programming languages and his emergence as a formidable force in the world of software development.
          </p>
          <h4 class="text-lg mb-2 font-medium text-gray-800">Professional Trajectory</h4>
          <p class="mb-3">
            In 2021, Drake embarked on a transformative endeavor with the founding of {{APP_NAME}}, a dynamic enterprise dedicated to technological innovation. As the driving force behind {{APP_NAME}}, Drake's leadership and technical acumen have propelled the company to the forefront of the global tech industry. His strategic vision and commitment to excellence have garnered widespread recognition, positioning {{APP_NAME}} as a pioneering entity in its field
          </p>
          <p class="mb-4">
            Drake's entrepreneurial ventures extend beyond {{APP_NAME}}, exemplified by his involvement in Waanverse, a startup poised to revolutionize digital platforms. His diverse portfolio of initiatives underscores a commitment to pushing boundaries and shaping the future of technology.
          </p>
          <h3 class="text-xl text-bold text-gray-900">Legacy and Impact</h3>
          <p class="mb-6">
            Khaotungkulmethee Pattawee Drake's contributions to the tech industry transcend mere business success; they embody a spirit of innovation and a dedication to advancing societal progress. Through his pioneering initiatives and steadfast leadership, Drake has redefined the parameters of possibility in technology, inspiring a new generation of entrepreneurs and innovators. His enduring legacy serves as a testament to the transformative power of vision, determination, and relentless pursuit of excellence.
          </p>
          <div class="mx-auto py-4">
            <h4 class="text-2xl text-gray-white mb-2">
              Conclusion
            </h4>
            <hr class="h-px border-t bg-gray-800 mb-2" />
            <p class="text-gray-800">
              In summary, Khaotungkulmethee Pattawee Drake's journey from humble beginnings in Uganda to global prominence as an entrepreneur and technologist epitomizes the quintessential tale of modern innovation. Through his groundbreaking initiatives and unwavering commitment to excellence, Drake continues to chart new territories and redefine the contours of technological advancement. As a visionary leader and pioneer in his field, Drake's impact reverberates far beyond the realms of business, leaving an indelible mark on the fabric of society and the trajectory of human progress.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
